  /* Toolbar Styles */
  
  .toolbar {
    height: 64px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  .container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .menu-button {
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 0 0 0 20px #f0f0f0;
  }
  
  .toolbar-spacer {
    flex: 1 1 auto;
  }
  
  .toolbar-logo {
    margin: 0 20px;
    object-fit: contain;
    height: 40px;
    width: 100px;
  }
  
  .sign-reg {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
  }
  
  .example-button {
    margin: 0 10px;
    border-radius: 20px;
    box-shadow: 0 0 0 20px #f0f0f0;
  }
  
  /* Main Content Styles */
  
  .main-content {
    padding-top: 64px;
    flex: 1;
    overflow-y: auto;
  }
   
  .drawer-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
    background-color: #003f63;
    color: #fff;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
  }
  
  .sidenav .mat-list-item {
    color: #fff;
  }
  
  .sidenav .mat-list-item:hover {
    background-color: #e1e4e6;
  }
  
  .sidenav .mat-icon {
    margin-right: 16px;
  }
  
  
  
  /* Footer Styles */
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: relative;
    width: 100%;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-grid {
    margin-top: 20px;
  }
  
  .footer-grid h3 {
    margin-bottom: 10px;
  }
  
  .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-links a {
    color: #fff;
    font-size: 24px;
  }
  
  .copyright {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
  }
