<div class="rooms-container">
    <img src="/assets/images/hotelroom1.jpeg" alt="background" class="hero-background">
    <mat-card class="room-details-container" *ngFor="let room of rooms">
      <mat-card-content>
        <div class="room-content">
          <div class="room-image">
            <img src="/assets/images/hotelroom1.jpeg" alt="room-image">
          </div>
          <div class="room-info">
            <mat-card-title>Room {{ room.roomNumber }}</mat-card-title>
            <mat-card-subtitle>Price: ₦{{ room.price }}</mat-card-subtitle>
            <p>Status: {{ room.status }}</p>
            <p>Date Created: {{ room.dateCreated | date }}</p>
          </div>
        </div>
        <mat-card-actions class="button-container">
          <button mat-raised-button color="primary" [routerLink]="['/book-room']">Book Now</button>
          <button mat-raised-button color="accent" [routerLink]="['/view-room', room.id]">View Room</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>