<form >
    <div class="form-container">
      <h2>Registration Form</h2>
  
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
        
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
         
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="userName">
       
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email">
        
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
       
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword" type="password">
        
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phoneNumber" type="tel">
        <mat-error > </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>State</mat-label>
        <mat-select formControlName="stateId">
       
        </mat-select>
   
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Register</button>
    </div>
  </form>
